li:before
{
    content: "\2713";
    font-size: 23px;
    color: orange; 
    margin-left: -1em;
    margin-right: .100em;
}

ul
{
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}
